*{
  
  margin: 0;
  padding: 0;
  border: 0;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #4ef0f3;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(189, 63, 63);
  border-color: red;

}

.App-link {
  color: #61dafb;
}



#bdy{
	width: 100%;
	height: 100vh;
		border: 5px;
	
		border-color:red;
	
	background-color:#E39679;

  margin: 5px;
  padding: 0;
  border: 0;

}
